.nav{
    background-color: #3f3d3d;
    color:#fff;
    margin-bottom: 30px;
    position: fixed;
}

.nav .nav-link{
    color: #fff;
    border-bottom: 1px solid #000;
}
.nav .nav-link:hover{
    color: #fff;
    background-color: #000;
    
}

